.sidebar {
    background-color: #183da3;

    border: 4px outset black;
    border: 6px solid black;

    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    margin-top: auto;
    margin-bottom: auto;
}

.listitem{
    border: 5px solid black;
    border-radius: 20px;
    min-height: 7em;
    margin-bottom: 0.7em;

    padding-left: 0;
    align-self: center;
    align-content: center;

}

.listtitle {
    padding: 0;
    margin: 0;
}

.sidebar-col {
    margin: auto;
}

.sidebar-button {
    
}