.sidebar {
    background-color: #183da3;

    border: 4px outset black;
    border: 6px solid black;

    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    margin: 0;
    padding: 0;
}

.listitem{
    border: 5px solid black;
    border-radius: 20px;
    min-height: 7em;
    margin-bottom: 0.7em;

    align-items: center;

}

.listtitle {
    /* padding: 0; */
    margin: auto;
}

.sidebar-col {
    margin: auto;

    flex: 1;

    align-content: center;
    align-items: center;
}

.sidebar-button {
    
}

.sidebar-profile {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    background-color: whitesmoke;

    border: 2px solid black;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 40px;

    box-shadow: 4px 4px;
}